body {
	background: #151515;
	margin:0px;
	padding:0px;
	color:rgba(233,233,233,1);
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	font-weight:bold;
}
h1, h2, h3, h4, h5 {
	font-family: 'Crete Round', serif;
}
.center
{
margin-left:auto;
margin-right:auto;
}
.label {
   vertical-align:middle;
	padding-left:0.2em;
	padding-right:0.2em;
}
.button {
   background-image: -webkit-linear-gradient(top, rgba(97,97,97,1) 14%,rgba(46,46,46,1) 100%);
   background-image:    -moz-linear-gradient(top, rgba(97,97,97,1) 14%,rgba(46,46,46,1) 100%);
   background-image:     -ms-linear-gradient(top, rgba(97,97,97,1) 14%,rgba(46,46,46,1) 100%);
   background-image:      -o-linear-gradient(top, rgba(97,97,97,1) 14%,rgba(46,46,46,1) 100%);
   background-image:         linear-gradient(top, rgba(97,97,97,1) 14%,rgba(46,46,46,1) 100%);
   border: solid 0.2em rgba(255,255,255,0.5);
   -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
           border-radius: 0.5em;
   padding-left: 5px;
   padding-right: 5px;
   display: inline-block;
   text-align: center;
   color: rgba(222,222,222,1);
   text-shadow: 0px 0px 0px rgba(122,122,122,1);
}
.button:hover, .button-hover {
   background-image: -webkit-linear-gradient(top, rgba(156,88,28,1) 14%,rgba(38,38,38,1) 100%);
   background-image:    -moz-linear-gradient(top, rgba(156,88,28,1) 14%,rgba(38,38,38,1) 100%);
   background-image:     -ms-linear-gradient(top, rgba(156,88,28,1) 14%,rgba(38,38,38,1) 100%);
   background-image:      -o-linear-gradient(top, rgba(156,88,28,1) 14%,rgba(38,38,38,1) 100%);
   background-image:         linear-gradient(top, rgba(156,88,28,1) 14%,rgba(38,38,38,1) 100%);
}
.button:active, .button-active {
   background-image: -webkit-linear-gradient(top, rgba(211,224,33,1) 12%,rgba(199,104,32,1) 100%);
   background-image:    -moz-linear-gradient(top, rgba(211,224,33,1) 12%,rgba(199,104,32,1) 100%);
   background-image:     -ms-linear-gradient(top, rgba(211,224,33,1) 12%,rgba(199,104,32,1) 100%);
   background-image:      -o-linear-gradient(top, rgba(211,224,33,1) 12%,rgba(199,104,32,1) 100%);
   background-image:         linear-gradient(top, rgba(211,224,33,1) 12%,rgba(199,104,32,1) 100%);
   border: solid 0.2em rgba(0,0,0,0.5);
   color: rgba(255,255,255,1);
   text-shadow: 0px -1pt 0px rgba(124,130,34,1)
}
.buttonAccessory {
	width:2.5em;
	height:2.5em;	
   -webkit-border-radius: 1.5em;
      -moz-border-radius: 1.5em;
           border-radius: 1.5em;
}
.buttonIcon {
	vertical-align:top;
	font-size:3em;
	line-height:0.25em;
	margin:-1em;
}
input[type='range'] {
    -webkit-appearance: none !important;
    background:rgba(22,22,22,1);
    height:1em;
   border: solid 0.2em rgba(55,55,55,0.5);
   -webkit-border-radius: 1em;
      -moz-border-radius: 1em;
           border-radius: 1em;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:rgba(133,133,133,1);
	width:1.6em;
    height:1.6em;
   border: solid 0.2em rgba(111,111,111,0.5);
   -webkit-border-radius: 0.8em;
      -moz-border-radius: 0.8em;
           border-radius: 0.8em;
}
.textinput {
   background-color: rgba(22,22,22,1);
   font-size:1.1em; 
	width:12em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   background-image: -webkit-linear-gradient(top, rgba(97,97,97,1) 0em,rgba(46,46,46,1) 3em);
   background-image:    -moz-linear-gradient(top, rgba(97,97,97,1) 0em,rgba(46,46,46,1) 3em);
   background-image:     -ms-linear-gradient(top, rgba(97,97,97,1) 0em,rgba(46,46,46,1) 3em);
   background-image:      -o-linear-gradient(top, rgba(97,97,97,1) 0em,rgba(46,46,46,1) 3em);
   background-image:         linear-gradient(top, rgba(97,97,97,1) 0em,rgba(46,46,46,1) 3em);
   border: solid 0.2em rgba(255,255,255,0.5);
   -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
           border-radius: 0.5em;
   padding-left: 5px;
   padding-right: 5px;
   display: inline-block;
   color: rgba(245,245,245,1);
   text-shadow: 0px 0px 0px rgba(122,122,122,1);
	resize: none;
}
.textinput:focus {
  outline: 0;
 -moz-outline-style: none;
  border-color: rgba(82,168,236,.8);
}
.select {
   background-color: rgba(22,22,22,1);
   font-size:1.1em;
	width:12em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   background-image: -webkit-linear-gradient(top, rgba(97,97,97,1) 0em,rgba(46,46,46,1) 3em);
   background-image:    -moz-linear-gradient(top, rgba(97,97,97,1) 0em,rgba(46,46,46,1) 3em);
   background-image:     -ms-linear-gradient(top, rgba(97,97,97,1) 0em,rgba(46,46,46,1) 3em);
   background-image:      -o-linear-gradient(top, rgba(97,97,97,1) 0em,rgba(46,46,46,1) 3em);
   background-image:         linear-gradient(top, rgba(97,97,97,1) 0em,rgba(46,46,46,1) 3em);
   border: solid 0.2em rgba(255,255,255,0.5);
   -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
           border-radius: 0.5em;
   padding-left: 5px;
   padding-right: 5px;
   display: inline-block;
   color: rgba(245,245,245,1);
   text-shadow: 0px 0px 0px rgba(122,122,122,1)	
}
.tool {
   border: solid 0.2em rgba(255,255,255,0.5);
   -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
           border-radius: 0.5em;	
}
.toolbar {
	height:2em;
   background: rgba(55,55,55,1.0);
   border-top: solid 0.15em rgba(255,255,255,0.3);
   border-bottom: solid 0.15em rgba(0,0,0,0.3);
	text-align:center;
}
.error {
  text-align:center;	
}
::-webkit-scrollbar {
    width:16px;
	height:16px;
}
::-webkit-scrollbar-corner {
    background:rgba(55,55,55,0.5);
}
::-webkit-scrollbar-track {
    background:rgba(55,55,55,0.5);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5em;
    background:rgba(133,133,133,1);
    border: solid 0.2em rgba(111,111,111,0.5);
}